@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0) !important;
  padding: 0px !important;
  margin: 0px !important;
}

#stickAviso {
  position: relative;
  z-index: 1;
}

.banner-seccionArriba {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  padding-bottom: 10%;
  background-color: rgb(245, 242, 242);
}
.banner-seccionArriba-textos {
  margin-top: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 500px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-title_marcas {
  text-align: center;
  color: white;
  padding-bottom: 10px !important;
}
.container-cardsMarcas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center !important;
  align-items: center !important;
}
.container-cardsMarcas-cards {
  height: 450px;
  width: 200px;
  margin-right: 20px;
  border-radius: 10px !important;
  margin-bottom: 10px;
  text-decoration: none !important;
  color: black;
}
.container-cardsMarcas-cards-title {
  text-align: center;
}
.container-seccionAbajo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 20px;
}
.container-seccionAbajo-cards {
  display: flex;
  flex-direction: column;
}
.container-seccionAbajo-cards-cardUno {
  margin-bottom: 10px;
}
.container-seccionAbajo-cards-cardUno-cardFoto-cardss-imagen {
  width: 100%;
}
.container-seccionAbajo-cards-cardUno-cardFoto-cardss-cuerpo-cardbody {
  background-color: black !important;
}
.container-seccionAbajo-imagenes {
  padding-bottom: 20px !important;
}
.container-seccionAbajo-imagenes-carou {
  border-radius: 10px !important;
}

.carousel-inner {
  border-radius: 10px !important;
}

main {
  margin-bottom: 10px !important;
}

#imagenes_destacadas {
  width: 100%;
}

#fotos_marcass_index {
  height: 385px;
  width: 100%;
  border-radius: 10px 10px 0px 0px !important;
}

#fotos_marcas_index {
  height: 400px;
  width: 100%;
  border-radius: 10px 10px 0px 0px !important;
}

footer {
  background-color: rgb(255, 255, 255);
  bottom: 0;
  width: 100%;
  position: fixed;
  text-align: center;
  font-size: 15px;
  color: rgb(0, 0, 0);
  margin-top: 10px !important;
}

/*.containerropa{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    &-fotos_ropa_productos{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row; 
        justify-content: center;
        &-ropa_prod_uno{
            width: 390px;
            height: 600px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgb(255, 255, 255);
            margin-bottom: 10px;
            margin-right: 10px;       

            border-radius: 10px;
            margin-top: 10px; 
        }
        &-texto_prod{
            text-align: center;
            color: rgb(0, 0, 0) !important;
            font-size: 18px;
        }
    }
    &-navegacion{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row; 
        align-items: inherit !important;
        justify-content: center !important;
        margin-top: 10px;
    }
    .list-group{display: flex;
        flex-direction: row;
        &-item{
            margin-right: 5px;
            &:hover{
                background-color: rgb(216, 211, 211);
            }
        }
    }
}*/
#imagen_prod_uno {
  width: 390px;
}

#imagen_prod_dos {
  width: 390px;
}

#imagen_prod_tres {
  width: 390px;
}

#imagen_prod_cuatro {
  width: 390px;
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 500px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-title_ropa {
  align-items: center;
  justify-content: center;
  text-align: center !important;
  background-color: white !important;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}
.container-fotos_ropa-cards {
  position: relative;
  width: 310px; /* O ajusta el ancho según tus necesidades */
  height: 500px; /* O ajusta la altura según tus necesidades */
  background-color: transparent;
  border-radius: 10px;
  margin-bottom: 10px;
}
.container-fotos_ropa-cards-content-blue {
  transition: filter 0.3s ease-in-out;
}
.container-fotos_ropa-cards-content :hover {
  filter: blur(8px);
}
.container-fotos_ropa-cards-overlay {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  padding: 10px;
  font-size: 18px;
}
.container-fotos_ropa-cards-overlayy {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  padding: 10px;
  font-size: 18px;
}

#fotos_ropa {
  height: 500px;
  border-radius: 10px;
}

#cardsropa {
  background-color: transparent;
}

.parrafo_cards {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
.container-cont_accesorios {
  display: flex;
  flex-wrap: wrap;
}
.container-cont_accesorios-titulo {
  text-align: center;
  color: white;
}
.container-cont_accesorios-group-cards {
  margin-bottom: 10px;
}

#imagen_productos_oferta {
  height: 600px !important;
  width: 100%;
}

#imagen_productos_ofertaaa {
  height: 580px !important;
  width: 100%;
}

#imagen_productos_ofertaa {
  height: 560px !important;
  width: 100%;
}

.btn {
  border: 10px !important;
  border-color: black !important;
  border-radius: 10px !important;
  font-size: 20px;
  background-color: rgb(0, 0, 0) !important;
  padding: 10px !important;
  font-weight: bold !important;
}
.btn:hover {
  border: 5px !important;
  border-color: black !important;
  background-color: rgb(187, 183, 183) !important;
  color: black !important;
  font-weight: bold;
}

.cardbtn_ofertas {
  align-items: center !important;
  display: flex;
  float: right;
}

#imagen_productos_oferta-foto {
  height: 750px !important;
  width: 100%;
}

.cardimgtop {
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100% !important;
}
.container-cont_ofertas-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-cont_ofertas-titles-titleOfertas {
  color: white;
  text-align: center;
}
.container-cont_ofertas-titles-mapa_tienda {
  width: 400px !important;
}
.container-cont_ofertas-titles-mapa_tienda-iframe_mapa {
  width: 400px !important;
  height: 250px;
}
.container-cont_ofertas-titles-mapa_tienda-title_mapa {
  color: white;
  text-align: center;
}
.container-cont_ofertas-productos_oferta {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.container-cont_ofertas-productos_oferta-ropa_oferta {
  margin-top: 20px;
}
.container-cont_ofertas-productos_oferta-ropa_oferta-cards {
  width: 400px;
  height: 750px;
}

#foto_historia {
  width: 100% !important;
  height: 600px !important;
  border-radius: 10px;
}

#foto_historia_calle {
  width: 100% !important;
  height: 300px !important;
  border-radius: 10px;
}

#foto_historia_colpatria {
  width: 100% !important;
  height: 600px !important;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100% !important;
}
.container-quienes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-quienes-title {
  color: white;
}
.container-quienes-historia-parrafo {
  color: white;
  text-align: left;
  margin-top: 10px;
}
.container-quienes-historia_dos-parrafo {
  color: white;
  text-align: left;
  margin-top: 10px;
}
.container-quienes-historia_tres-parrafo {
  color: white;
  text-align: left;
  margin-top: 10px;
}

.container {
  display: flex;
  flex-direction: row;
}
.container-form {
  margin-top: 220px;
  justify-content: center;
  align-items: center;
}
.container-form-formLogin-forms {
  width: 400px;
}
.container-form-formLogin-forms-login-form {
  display: flex;
  flex-direction: column;
}
.container-form-formLogin-forms-login-form-regis {
  display: flex;
  flex-direction: column;
}
.container-form-formLogin-forms-login-form-regis-form_group {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container-form-formLogin-forms-login-form-regis-form_group-label {
  font-weight: bold;
}
.container-form-formLogin-forms-login-form-botonLogin-login {
  float: right;
}
.container-form-formLogin-forms-login-form-botonLogin-login :hover {
  background-color: rgb(22, 22, 22) !important;
}
.container-form-formLogin-forms-login-form-boton-registrar {
  text-decoration: none !important;
  color: black;
  font-weight: bold;
  float: right;
}
.container-form-formLogin-forms-login-form-boton-registrar:hover {
  color: rgb(32, 31, 31);
}

.container {
  display: flex;
  flex-direction: row;
}
.container-registrarForm {
  margin-top: 150px;
  justify-content: center;
  align-items: center;
}
.container-registrarForm-formLogin-forms {
  width: 400px;
  height: 500px;
}
.container-registrarForm-formLogin-forms-login-form {
  display: flex;
  flex-direction: column;
}
.container-registrarForm-formLogin-forms-login-form-botonLogin-login {
  float: right;
}
.container-registrarForm-formLogin-forms-login-form-boton-regis {
  text-decoration: none !important;
  color: black;
  font-weight: bold;
  float: right;
}
.container-registrarForm-formLogin-forms-login-form-boton-regis:hover {
  color: rgb(19, 18, 18);
}
.container-registrarForm-formLogin-forms-regis {
  display: flex;
  flex-direction: column;
}
.container-registrarForm-formLogin-forms-regis-form_group-label {
  font-weight: bold;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    background-color: rgb(0, 0, 0) !important;
    padding: 0px !important;
    margin: 0px !important;
  }
  #fotos_marcass {
    height: 385px;
    width: 180px;
    border-radius: 10px 10px 0px 0px !important;
  }
  #fotos_marcas {
    height: 400px;
    width: 180px;
    border-radius: 10px 10px 0px 0px !important;
  }
  #img_carou {
    height: 300px;
  }
  #fotos_marcass_index {
    height: 385px;
    width: 100%;
    border-radius: 10px 10px 0px 0px !important;
  }
  #fotos_marcas_index {
    height: 400px;
    width: 100%;
    border-radius: 10px 10px 0px 0px !important;
  }
  #imagenes_destacadas {
    height: 300px;
  }
  .container {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .container-title_marcas {
    text-align: center;
    color: white;
    padding-bottom: 10px !important;
  }
  .container-cardsMarcas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .container-cardsMarcas-cards {
    height: 450px;
    width: 200px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px !important;
    margin-bottom: 10px;
  }
  .container-seccionAbajo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .container-seccionAbajo-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .container-seccionAbajo-cards-cardUno {
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .container-seccionAbajo-cards-cardUno-cardFoto {
    width: 500px !important;
  }
  .container-seccionAbajo-cards-cardUno-cardFoto-cardss-imagen {
    width: 100%;
  }
  .container-seccionAbajo-imagenes {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    padding-bottom: 20px !important;
    width: 500px !important;
  }
  .container-seccionAbajo-imagenes-carouselImg {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container-seccionAbajo-imagenes-carouselImg-carou {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px !important;
  }
  #carouselExampleControls {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    width: 100%;
  }
  .container {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .container-title_ropa {
    align-items: center;
    justify-content: center;
    text-align: center !important;
    background-color: white !important;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
  }
  .container-fotos_ropa {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .container-fotos_ropa-cards {
    position: relative;
    width: 310px; /* O ajusta el ancho según tus necesidades */
    height: 500px; /* O ajusta la altura según tus necesidades */
    background-color: transparent;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
  }
  .container-fotos_ropa-cards-content-blue {
    transition: filter 0.3s ease-in-out;
  }
  .container-fotos_ropa-cards-content :hover {
    filter: blur(8px);
  }
  .container-fotos_ropa-cards-overlay {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 18px;
  }
  .container-fotos_ropa-cards-overlayy {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 18px;
  }
  #imagen_productos_oferta {
    height: 600px !important;
    width: 100%;
  }
  #imagen_productos_ofertaaa {
    height: 590px !important;
    width: 100%;
  }
  #imagen_productos_ofertaa {
    height: 570px !important;
    width: 100%;
  }
  .btn {
    border: 10px !important;
    border-color: black !important;
    border-radius: 10px !important;
    font-size: 20px;
    background-color: rgb(0, 0, 0) !important;
    padding: 10px !important;
    font-weight: bold !important;
  }
  .btn:hover {
    border: 5px !important;
    border-color: black !important;
    background-color: rgb(187, 183, 183) !important;
    color: black !important;
    font-weight: bold;
  }
  .cardbtn_ofertas {
    align-items: center !important;
    display: flex;
    float: right;
  }
  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100% !important;
  }
  .container-cont_ofertas-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container-cont_ofertas-titles-titleOfertas {
    color: white;
    text-align: center;
  }
  .container-cont_ofertas-titles-mapa_tienda {
    width: 400px !important;
  }
  .container-cont_ofertas-titles-mapa_tienda-iframe_mapa {
    width: 400px !important;
    height: 250px;
  }
  .container-cont_ofertas-titles-mapa_tienda-title_mapa {
    color: white;
    text-align: center;
  }
  .container-cont_ofertas-productos_oferta {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 750px;
  }
  .container-cont_ofertas-productos_oferta-ropa_oferta {
    margin-top: 20px;
    margin-right: 20px;
  }
  .container-cont_ofertas-productos_oferta-ropa_oferta-cards {
    width: 320px;
    height: 750px;
  }
  .container {
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;*/
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 100% !important;
  }
  .container-cont_accesorios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px !important;
  }
  .container-cont_accesorios-titulo {
    text-align: center;
    color: white;
  }
  .container-cont_accesorios-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .container-cont_accesorios-group-cards {
    width: 400px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  /* .container{

       display: flex;
       flex-direction: row;
       &-form{
           display: flex;
           flex-direction: column;
           margin-top: 250px;
           justify-content: center;
           align-items: center;
           &-formLogin{

               display: flex;
               flex-direction: column;
               &-forms{
                   display: flex;
                   flex-direction: column;
                   width: 400px;
                   &-login{
                       display: flex;
                       flex-direction: column;
                       justify-content: center;
                       align-items: center;
                       &-form{
                           display: flex;
                           justify-content: center;
                           align-items: center;
                       }
                   }
               }
           }
       }
   }*/
  #foto_historia {
    width: 100% !important;
    height: 600px !important;
    border-radius: 10px;
  }
  #foto_historia_calle {
    width: 100% !important;
    height: 300px !important;
    border-radius: 10px;
  }
  #foto_historia_colpatria {
    width: 100% !important;
    height: 600px !important;
    border-radius: 10px;
  }
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center !important;
    align-items: center !important;
    max-width: 100%;
  }
  .container-quienes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center !important;
    align-items: center !important;
    margin-bottom: 20px;
  }
  .container-quienes-title {
    color: rgb(252, 252, 252);
  }
  .container-quienes-historia {
    width: 800px;
    display: flex;
    flex-direction: row;
  }
  .container-quienes-historia-foto {
    width: 400px !important;
  }
  .container-quienes-historia-parrafo {
    color: white;
    text-align: left;
    margin-top: 10px;
    width: 400px !important;
    height: 300px;
    padding: 20px;
  }
  .container-quienes-historia_dos {
    margin-top: 20px;
    width: 800px;
    display: flex;
    flex-direction: row;
  }
  .container-quienes-historia_dos-foto_dos {
    width: 400px !important;
  }
  .container-quienes-historia_dos-parrafo {
    color: white;
    text-align: left;
    margin-top: 10px;
    width: 300px !important;
    height: 200px;
    padding: 20px;
  }
  .container-quienes-historia_tres {
    margin-top: 20px;
    width: 800px;
    display: flex;
    flex-direction: row;
  }
  .container-quienes-historia_tres-foto_tres {
    width: 400px !important;
  }
  .container-quienes-historia_tres-parrafo {
    color: white;
    text-align: left;
    margin-top: 10px;
    width: 400px !important;
    height: 200px;
    padding: 20px;
  }
}
@media screen and (min-width: 1023px) and (max-width: 2000px) {
  #img_carou {
    height: 300px;
  }
  #carouselExampleControls {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    width: 100%;
  }
  #imagenes_destacadas {
    width: 100%;
    height: 250px !important;
  }
  .container {
    max-width: 100% !important;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .container-title_marcas {
    text-align: center;
    color: white;
    padding-bottom: 10px !important;
  }
  .container-cardsMarcas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .container-cardsMarcas-cards {
    height: 450px;
    width: 200px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px !important;
    margin-bottom: 10px;
  }
  .container-cardsMarcas-cards-title {
    text-align: center;
  }
  .container-seccionAbajo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 10px;
    margin-bottom: 20px;
    /*&-imagenes{
        width: 100%;
        padding-bottom: 20px !important;
        &-carou{
            border-radius: 10px !important;
        }
    }*/
  }
  .container-seccionAbajo-cards {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center !important;
    flex-wrap: wrap;
  }
  .container-seccionAbajo-cards-cardUno {
    display: flex;
    flex-direction: column;
    margin-right: 30px !important;
    margin-bottom: 10px;
  }
  .container-seccionAbajo-cards-cardUno-cardFoto {
    width: 400px !important;
  }
  .container-seccionAbajo-cards-cardUno-cardFoto-cardss {
    display: flex;
    flex-direction: column !important;
  }
  .container-seccionAbajo-cards-cardUno-cardFoto-cardss-imagen {
    width: 100%;
  }
  .container-seccionAbajo-imagenes {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    padding-bottom: 20px !important;
    width: 500px !important;
  }
  .container-seccionAbajo-imagenes-carouselImg {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container-seccionAbajo-imagenes-carouselImg-carou {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px !important;
  }
  #imagen_productos_oferta {
    height: 750px !important;
    width: 100%;
    border-radius: 20px;
    background-color: black;
  }
  #imagen_productos_ofertaaa {
    height: 750px !important;
    width: 100%;
    border-radius: 20px;
    background-color: black;
  }
  #imagen_productos_ofertaa {
    height: 750px !important;
    width: 100%;
    border-radius: 20px;
    background-color: black;
  }
  .cardbtn_ofertas {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 18px;
  }
  .btn {
    border: 0px !important;
    border-radius: 10px !important;
    font-size: 20px;
    background-color: black !important;
    padding: 10px !important;
  }
  .btn:hover {
    background-color: white !important;
    color: black !important;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 100% !important;
  }
  .container-cont_ofertas-titles-mapa_tienda {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
  }
  .container-cont_ofertas-titles-mapa_tienda-iframe_mapa {
    width: 400px !important;
    height: 250px;
    margin-right: 20px;
  }
  .container-cont_ofertas-titles-mapa_tienda-title_mapa {
    padding-top: 50px !important;
    width: 400px;
    color: rgb(255, 255, 255);
  }
  .container-cont_ofertas-productos_oferta {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center !important;
    align-items: center !important;
    margin-bottom: 20px;
  }
  .container-cont_ofertas-productos_oferta-ropa_oferta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-right: 10px;
  }
  .container-cont_ofertas-productos_oferta-ropa_oferta-cards {
    display: flex;
    flex-direction: row !important;
    height: 750px;
    border-radius: 10px !important;
    background-color: black !important;
  }
  .container-cont_ofertas-productos_oferta-ropa_oferta-cards-imcard {
    align-items: center;
    justify-content: center;
  }
  .container-cont_ofertas-productos_oferta-ropa_oferta-cards-imcard-card_oferta {
    display: none;
  }
  .container {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-title_ropa {
    align-items: center;
    justify-content: center;
    text-align: center !important;
    background-color: white !important;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
  }
  .container-fotos_ropa {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .container-fotos_ropa-cards {
    position: relative;
    width: 310px; /* O ajusta el ancho según tus necesidades */
    height: 500px; /* O ajusta la altura según tus necesidades */
    background-color: transparent;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .container-fotos_ropa-cards-content-blue {
    transition: filter 0.3s ease-in-out;
  }
  .container-fotos_ropa-cards-content :hover {
    filter: blur(8px);
  }
  .container-fotos_ropa-cards-overlay {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 18px;
  }
  .container-fotos_ropa-cards-overlayy {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 18px;
  }
  #fotos_ropa {
    height: 500px;
    border-radius: 10px;
  }
  #cardsropa {
    background-color: transparent;
  }
  .container {
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;*/
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1800px !important;
  }
  .container-cont_accesorios {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px !important;
  }
  .container-cont_accesorios-titulo {
    text-align: center;
    color: white;
  }
  .container-cont_accesorios-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row !important;
    width: 1100px !important;
    background-color: rgb(95, 65, 65);
    justify-content: center;
    align-items: center;
  }
  .container-cont_accesorios-group-cards {
    width: 400px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  /* .container{

      display: flex;
      flex-direction: column !important;
      &-form{
          display: flex;
          flex-direction: column !important;
          margin-top: 250px;
          justify-content: center;
          align-items: center;
          &-formLogin{

              display: flex;
              flex-direction: column !important;
              &-forms{
                  display: flex;
                  flex-direction: column !important;
                  width: 900px;
                  &-login{
                      display: flex;
                      flex-direction: row !important;
                      justify-content: center;
                      align-items: center;
                      background-color: blue;
                      width: 200px;
                      height: 500px;
                      &-form{
                          display: flex;
                          justify-content: center;
                          align-items: center;
                      }
                  }
              }
          }
      }
  }*/
  .container {
    display: flex;
    flex-direction: row;
  }
  .container-form {
    margin-top: 220px;
    justify-content: center;
    align-items: center;
  }
  .container-form-formLogin-forms {
    width: 400px;
  }
  .container-form-formLogin-forms-login-form {
    display: flex;
    flex-direction: column;
  }
  .container-form-formLogin-forms-login-form-regis {
    display: flex;
    flex-direction: column;
  }
  .container-form-formLogin-forms-login-form-regis-form_group {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .container-form-formLogin-forms-login-form-regis-form_group-label {
    font-weight: bold;
  }
  .container-form-formLogin-forms-login-form-botonLogin-login {
    float: right;
  }
  .container-form-formLogin-forms-login-form-botonLogin-login :hover {
    background-color: rgb(24, 23, 23) !important;
  }
  .container-form-formLogin-forms-login-form-boton-registrar {
    text-decoration: none !important;
    color: black;
    font-weight: bold;
    float: right;
  }
  .container-form-formLogin-forms-login-form-boton-registrar:hover {
    color: rgb(32, 31, 31);
  }
  #foto_historia {
    width: 100% !important;
    height: 600px !important;
    border-radius: 10px;
  }
  #foto_historia_calle {
    width: 100% !important;
    height: 300px !important;
    border-radius: 10px;
  }
  #foto_historia_colpatria {
    width: 100% !important;
    height: 600px !important;
    border-radius: 10px;
  }
  .container {
    display: flex;
    flex-direction: row;
    max-width: 800px !important;
  }
  .container-quienes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .container-quienes-title {
    color: rgb(252, 252, 252);
  }
  .container-quienes-historia {
    width: 800px;
    display: flex;
    flex-direction: row;
  }
  .container-quienes-historia-foto {
    width: 400px !important;
  }
  .container-quienes-historia-parrafo {
    color: white;
    text-align: left;
    margin-top: 10px;
    width: 400px !important;
    height: 200px;
    padding: 20px;
  }
  .container-quienes-historia_dos {
    margin-top: 20px;
    width: 800px;
    display: flex;
    flex-direction: row;
  }
  .container-quienes-historia_dos-foto_dos {
    width: 400px !important;
  }
  .container-quienes-historia_dos-parrafo {
    color: white;
    text-align: left;
    margin-top: 10px;
    width: 400px !important;
    height: 200px;
    padding: 20px;
  }
  .container-quienes-historia_tres {
    margin-top: 20px;
    width: 800px;
    display: flex;
    flex-direction: row;
  }
  .container-quienes-historia_tres-foto_tres {
    width: 400px !important;
  }
  .container-quienes-historia_tres-parrafo {
    color: white;
    text-align: left;
    margin-top: 10px;
    width: 400px !important;
    height: 200px;
    padding: 20px;
  }
}

/*# sourceMappingURL=estilos.css.map */
