*{
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 0) !important;
    padding: 0px !important;
    margin: 0px !important;
}



#stickAviso{
    position: relative;
z-index: 1;
}



.banner{
    &-seccionArriba{
        position: relative; 
        width: 100%;
        height: 250px;
        overflow: hidden;
        padding-bottom: 10%;
        background-color: rgb(245, 242, 242);
        &-textos{
            margin-top: 50px;
            text-align: center;
            font-weight: bold;
            font-size: 15px;
        }

    }
}


//index.html
.container{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 500px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title_marcas{
        text-align: center; 
        color: white;
        padding-bottom: 10px !important;
    }
    &-cardsMarcas{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center !important;
        align-items: center !important;
        &-cards{
            height: 450px;
            width: 200px;
            margin-right: 20px;
            border-radius: 10px !important;
            margin-bottom: 10px;
            text-decoration: none !important;
            color: black;
            &-title{
                text-align: center;
            }
        }
    }
    &-seccionAbajo{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 10px;
        margin-bottom: 20px;
        &-cards{
            display: flex;
            flex-direction: column;
            &-cardUno{
                margin-bottom: 10px;
                &-cardFoto{
                    &-cardss{
                        &-imagen{
                            width: 100%;
                        }
                        &-cuerpo{

                            &-cardbody{
                                background-color: black !important;
                            }
                        }
                    }
                }
            }
        }
        &-imagenes{
            padding-bottom: 20px !important;
            &-carou{
                border-radius: 10px !important;
            }
        }
    }
}

.carousel-inner{
    border-radius: 10px !important;
}

main{
    margin-bottom: 10px !important;
}

//imagenes index
#imagenes_destacadas{
    width: 100%;   
}
//imagenes index
#fotos_marcass_index{
    height: 385px;
    width: 100%;
    border-radius: 10px 10px 0px 0px !important;
}
//imagenes index
#fotos_marcas_index{
    height: 400px;
    width: 100%;
    border-radius: 10px 10px 0px 0px !important;
}



//pie de pagina
footer{
    background-color: rgb(255, 255, 255);
    bottom: 0;
    width: 100%;
    position: fixed;
    text-align: center;
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin-top: 10px !important;
}

//estilos para archivo ropa-accesorios/ropa.html
/*.containerropa{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    &-fotos_ropa_productos{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row; 
        justify-content: center;
        &-ropa_prod_uno{
            width: 390px;
            height: 600px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgb(255, 255, 255);
            margin-bottom: 10px;
            margin-right: 10px;       
            
            border-radius: 10px;
            margin-top: 10px; 
        }
        &-texto_prod{
            text-align: center;
            color: rgb(0, 0, 0) !important;
            font-size: 18px;
        }
    }
    &-navegacion{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row; 
        align-items: inherit !important;
        justify-content: center !important;
        margin-top: 10px;
    }
    .list-group{display: flex;
        flex-direction: row;
        &-item{
            margin-right: 5px;
            &:hover{
                background-color: rgb(216, 211, 211);
            }
        }
    }
}*/

#imagen_prod_uno{
    width: 390px;
}

#imagen_prod_dos{
    width: 390px;
}

#imagen_prod_tres{
    width: 390px;
}

#imagen_prod_cuatro{
    width: 390px;
}
  
///////////////////////////////////////////////



//estilos para ropa
.container{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 500px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title_ropa{
        align-items: center;
        justify-content: center;
        text-align: center !important;
        background-color: white !important;
        border-radius: 10px;
        color: rgb(0, 0, 0);
        margin-bottom: 20px;
    }
    &-fotos_ropa{
        
        &-cards{
            position: relative;
            width: 310px; /* O ajusta el ancho según tus necesidades */
            height: 500px; /* O ajusta la altura según tus necesidades */
            background-color: transparent;
            border-radius: 10px;
            margin-bottom: 10px;
            &-content{
                &-blue{
                    transition: filter 0.3s ease-in-out;
                }
                :hover{
                    filter: blur(8px);
                }
            }
            &-overlay{
                position: absolute;
                top: 90%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: rgb(0, 0, 0);
                padding: 10px;
                font-size: 18px;
            }
            &-overlayy{
                position: absolute;
                top: 90%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: rgb(255, 255, 255);
                padding: 10px;
                font-size: 18px;
            }
        }
    }
}

#fotos_ropa{
    height: 500px;
    border-radius: 10px;
}

#cardsropa{
    background-color: transparent;
}

////////////////////////////////////////////////




//estilos oara accesorios.html

.parrafo_cards{
    text-align: center;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
    &-cont_accesorios   {
        display: flex;
        flex-wrap: wrap;
        &-titulo{
            text-align: center;
            color: white;
        }
        &-group{

            &-cards{
                margin-bottom: 10px;
            }
        }
    }
}

////////////////////////////////////////////////




//estilso para ofertas


#imagen_productos_oferta{
    height: 600px !important;
    width: 100%;
}

#imagen_productos_ofertaaa{
    height: 580px !important;
    width: 100%;
}

#imagen_productos_ofertaa{
    height: 560px !important;
    width: 100%;
}

.btn{
    border: 10px !important;
    border-color: black !important;
    border-radius: 10px !important;
    font-size: 20px;
    background-color: rgb(0, 0, 0) !important;
    padding: 10px !important;
    font-weight: bold !important;
    
    &:hover{
        border: 5px !important;
        border-color: black !important; 
        background-color: rgb(187, 183, 183) !important;
        color: black !important;
        font-weight: bold;
    }  
}

.cardbtn_ofertas{
    align-items: center !important;
    display: flex;
    float: right;
}

#imagen_productos_oferta-foto{
    height: 750px !important;
    width: 100%;
}

.cardimgtop{
    background-color: black;
}

// .container{
//     display: flex;
//     justify-content: center;
//     flex-wrap: wrap;
//     &-cont-ofertas{
//         &-titles{
//             display: flex;
//             flex-direction: column;
//             justify-content: center;
//             align-items: center;
//             &-titleOfertas{
//                 color: rgb(255, 255, 255);
//                 text-align: center;
//             }
//             &-mapa_tienda{
//                 width: 400px !important;
//                 &-iframe_mapa{
//                     width: 400px !important;
//                     height: 250px;
//                 }
//                 &-title_mapa{
//                     color: rgb(255, 255, 255);
//                     text-align: center;
//                 }
//             }
//         }
        
//         &-productos_oferta{
//             display: flex;
//             justify-content: center;
//             flex-direction: row;
//             flex-wrap: wrap;
//             margin-bottom: 20px;
//             &-ropa_oferta{
//                 margin-top: 20px;
//                 &-cards{
//                     width: 400px;
//                     height: 750px;
//                     background-color: black;
//                 }
//             }
//         }
//     }
// }

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100% !important;
    &-cont_ofertas{

        &-titles{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &-titleOfertas{
                color: white;
                text-align: center;
            }
            &-mapa_tienda{
                width: 400px !important;
                &-iframe_mapa{
                    width: 400px !important;
                    height: 250px;
                }
                &-title_mapa{
                    color: white;
                    text-align: center;
                }
            }
        }
        &-productos_oferta{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 20px;
            &-ropa_oferta{
                margin-top: 20px;
                &-cards{
                    width: 400px;
                    height: 750px;
                }
            }
        }
    }
}
//////////////////////////////////////////////////////////

#foto_historia{
    width: 100% !important;
    height: 600px !important;
    border-radius: 10px;
}

#foto_historia_calle{
    width: 100% !important;
    height: 300px !important;
    border-radius: 10px;
}

#foto_historia_colpatria{
    width: 100% !important;
    height: 600px !important;
    border-radius: 10px;
}

//estilos para politicas.html
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100% !important;
    &-quienes{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-title{
            color: white;
        }
        &-historia{

            &-parrafo{
                color: white;
                text-align: left;
                margin-top: 10px;
            }
        }
        &-historia_dos{

            &-parrafo{
                color: white;
                text-align: left;
                margin-top: 10px;
            }
        }
        &-historia_tres{

            &-parrafo{
                color: white;
                text-align: left;
                margin-top: 10px;
            }
        }
    }
}


/////////////////////////////////////////





//estilos para login.html
.container{
    
    display: flex;
    flex-direction: row;
    &-form{
        margin-top: 220px;
        justify-content: center;
        align-items: center;
        &-formLogin{

            &-forms{
                width: 400px;
                &-login{

                    &-form{
                        display: flex;
                        flex-direction: column;
                        
                        &-regis{
                            display: flex;
                            flex-direction: column;
                            &-form_group{
                                align-items: center;
                                justify-content: center;
                                text-align: center;
                                &-label{
                                    font-weight: bold;
                                }
                            }
                            
                        }
                        &-botonLogin{

                            &-login{
                                float: right;
                                :hover{
                                    background-color: rgb(22, 22, 22) !important;
                                }
                            }
                        }

                        &-boton{

                            &-registrar{
                                text-decoration: none !important;
                                color: black;
                                font-weight: bold;
                                float: right;
                                &:hover{
                                    color: rgb(32, 31, 31);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


//estilos para registrar.html



.container{
    
    display: flex;
    flex-direction: row;
    &-registrarForm{
        margin-top: 150px;
        justify-content: center;
        align-items: center;
        &-formLogin{

            &-forms{
                width: 400px;
                height: 500px;
                &-login{

                    &-form{
                        display: flex;
                        flex-direction: column;
                        &-botonLogin{

                            &-login{
                                float: right;
                            }
                        }

                        &-boton{

                            &-regis{
                                text-decoration: none !important;
                                color: black;
                                font-weight: bold;
                                float: right;
                                &:hover{
                                    color: rgb(19, 18, 18);
                                }
                            }
                        }
                    }
                }
                &-regis{
                    display: flex;
                    flex-direction: column;
                    &-form_group{
                        &-label{
                            font-weight: bold;
                        }
                    }
                    
                }
            }
        }
    }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    body{
        background-color: rgb(0, 0, 0) !important;
        padding: 0px !important;
        margin: 0px !important;
    }
    #fotos_marcass{
        height: 385px;
        width: 180px;
        border-radius: 10px 10px 0px 0px !important;
    }
    
    #fotos_marcas{
        height: 400px;
        width: 180px;
        border-radius: 10px 10px 0px 0px !important;
    }

#img_carou{
    height: 300px;
}

    //imagenes index
#fotos_marcass_index{
    height: 385px;
    width: 100%;
    border-radius: 10px 10px 0px 0px !important;
}
//imagenes index
#fotos_marcas_index{
    height: 400px;
    width: 100%;
    border-radius: 10px 10px 0px 0px !important;
}



#imagenes_destacadas{
    height: 300px;
}
    .container{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        &-title_marcas{
            text-align: center; 
            color: white;
            padding-bottom: 10px !important;
        }
        &-cardsMarcas{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            &-cards{
                height: 450px;
                width: 200px;
                margin-left: 20px;
                margin-right: 20px;
                border-radius: 10px !important;
                margin-bottom: 10px;
            }
        }
        &-seccionAbajo{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            margin-top: 10px;
            margin-bottom: 20px;
            &-cards{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                &-cardUno{
                    margin-bottom: 10px;
                    margin-right: 10px;
                    &-cardFoto{
                        width: 500px !important;
                        &-cardss{
                            &-imagen{
                                width: 100%;
                            }
                        }
                    }
                }
            }
            &-imagenes{
                display: flex;
                align-items: center !important;
                justify-content: center !important;
                padding-bottom: 20px !important;
                width: 500px !important;
                &-carouselImg{
                    width: 500px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &-carou{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 10px !important;
                    }
                }
            }
        }
    }

    #carouselExampleControls{
        display: flex;
        align-items: center !important;
        justify-content: center !important;
        width: 100%;
    }


    //styles para ropa.html
    
.container{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    &-title_ropa{
        align-items: center;
        justify-content: center;
        text-align: center !important;
        background-color: white !important;
        border-radius: 10px;
        color: rgb(0, 0, 0);
        margin-bottom: 20px;
    }
    &-fotos_ropa{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        &-cards{
            position: relative;
            width: 310px; /* O ajusta el ancho según tus necesidades */
            height: 500px; /* O ajusta la altura según tus necesidades */
            background-color: transparent;
            border-radius: 10px;
            margin-bottom: 10px;
            margin-right: 20px;
            &-content{
                &-blue{
                    transition: filter 0.3s ease-in-out;
                }
                :hover{
                    filter: blur(8px);
                }
            }
            &-overlay{
                position: absolute;
                top: 90%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: rgb(0, 0, 0);
                padding: 10px;
                font-size: 18px;
            }
            &-overlayy{
                position: absolute;
                top: 90%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: rgb(255, 255, 255);
                padding: 10px;
                font-size: 18px;
            }
        }
    }
}



//estilos para ofertas.html


#imagen_productos_oferta{
    height: 600px !important;
    width: 100%;
}

#imagen_productos_ofertaaa{
    height: 590px !important;
    width: 100%;
}

#imagen_productos_ofertaa{
    height: 570px !important;
    width: 100%;
}

.btn{
    border: 10px !important;
    border-color: black !important;
    border-radius: 10px !important;
    font-size: 20px;
    background-color: rgb(0, 0, 0) !important;
    padding: 10px !important;
    font-weight: bold !important;
    
    &:hover{
        border: 5px !important;
        border-color: black !important; 
        background-color: rgb(187, 183, 183) !important;
        color: black !important;
        font-weight: bold;
    }  
}

.cardbtn_ofertas{
    align-items: center !important;
    display: flex;
    float: right;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100% !important;
    &-cont_ofertas{

        &-titles{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &-titleOfertas{
                color: white;
                text-align: center;
            }
            &-mapa_tienda{
                width: 400px !important;
                &-iframe_mapa{
                    width: 400px !important;
                    height: 250px;
                }
                &-title_mapa{
                    color: white;
                    text-align: center;
                }
            }
        }
        &-productos_oferta{
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 20px;
            width: 750px;
            &-ropa_oferta{
                margin-top: 20px;
                margin-right: 20px;
                &-cards{
                    width: 320px;
                    height: 750px;
                }
            }
        }
    }
}
////////////////////////////////////////




/// //estilos oara accesorios.html

.container{
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;*/
    
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 100% !important;
    &-cont_accesorios{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px !important;
        &-titulo{
            text-align: center;
            color: white;
        }
        &-group{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            &-cards{
                width: 400px;
                margin-bottom: 10px;
                margin-right: 10px;
            }
        }
    }
}

////////////////////////////////////////////////





        //estilos para login.html
       /* .container{
            
            display: flex;
            flex-direction: row;
            &-form{
                display: flex;
                flex-direction: column;
                margin-top: 250px;
                justify-content: center;
                align-items: center;
                &-formLogin{

                    display: flex;
                    flex-direction: column;
                    &-forms{
                        display: flex;
                        flex-direction: column;
                        width: 400px;
                        &-login{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            &-form{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                }
            }
        }*/




//estilos para politicas.html

#foto_historia{
    width: 100% !important;
    height: 600px !important;
    border-radius: 10px;
}

#foto_historia_calle{
    width: 100% !important;
    height: 300px !important;
    border-radius: 10px;
}

#foto_historia_colpatria{
    width: 100% !important;
    height: 600px !important;
    border-radius: 10px;
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center !important;
    align-items: center !important;
    max-width: 100%;
    &-quienes{

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center !important;
        align-items: center !important;
        margin-bottom: 20px;
        &-title{
            color: rgb(252, 252, 252);
        }
        &-historia{
            width: 800px;
            display: flex;
            flex-direction: row;
            &-foto{
                width: 400px !important;
            }
            &-parrafo{
                color: white;
                text-align: left;
                margin-top: 10px;
                width: 400px !important;
                height: 300px;
                padding: 20px;
            }
        }
        &-historia_dos{
            margin-top: 20px;
            width: 800px;
            display: flex;
            flex-direction: row;
            &-foto_dos{
                width: 400px !important;
            }
            &-parrafo{
                color: white;
                text-align: left;
                margin-top: 10px;
                width: 300px !important;
                height: 200px;
                padding: 20px;
            }
        }
        &-historia_tres{
            margin-top: 20px;
            width: 800px;
            display: flex;
            flex-direction: row;
            &-foto_tres{
                width: 400px !important;
            }
            &-parrafo{
                color: white;
                text-align: left;
                margin-top: 10px;
                width: 400px !important;
                height: 200px;
                padding: 20px;
            }
        }
    }
}


}



@media screen and (min-width: 1023px) and (max-width: 2000px) {


    #img_carou{
        height: 300px;
    }

    #carouselExampleControls{
        display: flex;
        align-items: center !important;
        justify-content: center !important;
        width: 100%;
    }

#imagenes_destacadas{
    width: 100%;
    height: 250px !important;
}

//index.html
.container{
    max-width: 100% !important;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    &-title_marcas{
        text-align: center; 
        color: white;
        padding-bottom: 10px !important;
    }
    &-cardsMarcas{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        &-cards{
            height: 450px;
            width: 200px;
            margin-left: 20px;
            margin-right: 20px;
            border-radius: 10px !important;
            margin-bottom: 10px;
            &-title{
                text-align: center;
            }
        }
    }
    &-seccionAbajo{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center !important;
        align-items: center !important;
        margin-top: 10px;
        margin-bottom: 20px;
        &-cards{
            display: flex;
            flex-direction: row;
            justify-content: center !important;
            align-items: center !important;
            flex-wrap: wrap;
            &-cardUno{
                display: flex;
                flex-direction: column;
                margin-right: 30px !important;
                margin-bottom: 10px;
                &-cardFoto{
                    width: 400px !important;
                    &-cardss{
                        display: flex;
                        flex-direction: column !important;
                        &-imagen{
                            width: 100%;
                        }
                    }
                }
            }
        }
        /*&-imagenes{
            width: 100%;
            padding-bottom: 20px !important;
            &-carou{
                border-radius: 10px !important;
            }
        }*/
        &-imagenes{
            display: flex;
            align-items: center !important;
            justify-content: center !important;
            padding-bottom: 20px !important;
            width: 500px !important;
            &-carouselImg{
                width: 500px;
                display: flex;
                align-items: center;
                justify-content: center;
                &-carou{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px !important;
                }
            }
        }
    }
}



///////////////////////////////////////////////////




//estilso para ofertas.html
    #imagen_productos_oferta{
        height: 750px !important;
        width: 100%;
        border-radius: 20px;
        background-color: black;
        
    }
    
    #imagen_productos_ofertaaa{
        height: 750px !important;
        width: 100%;
        border-radius: 20px;
        background-color: black;
    }
    
    #imagen_productos_ofertaa{
        height: 750px !important;
        width: 100%;
        border-radius: 20px;
        background-color: black;
    }

    
    
    .cardbtn_ofertas{
            position: absolute;
            top: 90%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: rgb(0, 0, 0);
            padding: 10px;
            font-size: 18px; 
    }

    .btn{
        border: 0px !important;
        border-radius: 10px !important;
        font-size: 20px;
        background-color: black !important;
        padding: 10px !important;
        
        &:hover{
            background-color: white !important;
            color: black !important;
        }  
    }
    
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        min-width: 100% !important;
        &-cont_ofertas{
            
        &-titles{
            &-mapa_tienda{
                display: flex;
                flex-direction: column;
                justify-content: center !important;
                align-items: center !important;
                &-iframe_mapa{
                    width: 400px !important;
                    height: 250px;
                    margin-right: 20px;
                }
                &-title_mapa{
                    padding-top: 50px !important;
                    width: 400px;
                    color: rgb(255, 255, 255);
                }
            }
        }
        &-productos_oferta{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center !important;
            align-items: center !important;
            margin-bottom: 20px;
            &-ropa_oferta{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                margin-top: 20px;
                margin-right: 10px;
                &-cards{
                    display: flex;
                    flex-direction: row !important;
                    height: 750px;
                    border-radius: 10px !important;  
                    background-color: black !important;  
                    &-imcard{
                        
                    align-items: center;
                    justify-content: center;
                        &-card_oferta{
                            display: none;
                        }
                    }
                    
                }
            }
        }
        }
    }
    ///////////////////////////////




    //estilos para ropa
.container{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title_ropa{
        align-items: center;
        justify-content: center;
        text-align: center !important;
        background-color: white !important;
        border-radius: 10px;
        color: rgb(0, 0, 0);
        margin-bottom: 20px;
    }
    &-fotos_ropa{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        &-cards{
            position: relative;
            width: 310px; /* O ajusta el ancho según tus necesidades */
            height: 500px; /* O ajusta la altura según tus necesidades */
            background-color: transparent;
            border-radius: 10px;
            margin-bottom: 10px;
            margin-right: 10px;
            &-content{
                &-blue{
                    transition: filter 0.3s ease-in-out;
                }
                :hover{
                    filter: blur(8px);
                }
            }
            &-overlay{
                position: absolute;
                top: 90%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: rgb(0, 0, 0);
                padding: 10px;
                font-size: 18px;
            }
            &-overlayy{
                position: absolute;
                top: 90%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: rgb(255, 255, 255);
                padding: 10px;
                font-size: 18px;
            }
        }
    }
}

#fotos_ropa{
    height: 500px;
    border-radius: 10px;
}

#cardsropa{
    background-color: transparent;
}

////////////////////////////////////////////////
/// 
/// 
/// 
/// 
/// 
/// //estilos oara accesorios.html

.container{
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;*/
    
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1800px !important;
    &-cont_accesorios{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px !important;
        &-titulo{
            text-align: center;
            color: white;
        }
        &-group{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row !important;
            width: 1100px !important;
            background-color: rgb(95, 65, 65);
            justify-content: center;
            align-items: center;
            &-cards{
                width: 400px;
                margin-bottom: 10px;
                margin-right: 10px;
            }
        }
    }
}

////////////////////////////////////////////////



 //estilos para login.html
/* .container{
            
    display: flex;
    flex-direction: column !important;
    &-form{
        display: flex;
        flex-direction: column !important;
        margin-top: 250px;
        justify-content: center;
        align-items: center;
        &-formLogin{

            display: flex;
            flex-direction: column !important;
            &-forms{
                display: flex;
                flex-direction: column !important;
                width: 900px;
                &-login{
                    display: flex;
                    flex-direction: row !important;
                    justify-content: center;
                    align-items: center;
                    background-color: blue;
                    width: 200px;
                    height: 500px;
                    &-form{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}*/

//estilos para login.html
.container{
    
    display: flex;
    flex-direction: row;
    &-form{
        margin-top: 220px;
        justify-content: center;
        align-items: center;
        &-formLogin{

            &-forms{
                width: 400px;
                &-login{

                    &-form{
                        display: flex;
                        flex-direction: column;
                        
                        &-regis{
                            display: flex;
                            flex-direction: column;
                            &-form_group{
                                align-items: center;
                                justify-content: center;
                                text-align: center;
                                &-label{
                                    font-weight: bold;
                                }
                            }
                            
                        }
                        &-botonLogin{

                            &-login{
                                float: right;
                                :hover{
                                    background-color: rgb(24, 23, 23) !important;
                                }
                            }
                        }

                        &-boton{

                            &-registrar{
                                text-decoration: none !important;
                                color: black;
                                font-weight: bold;
                                float: right;
                                &:hover{
                                    color: rgb(32, 31, 31);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


//estilos para politicas.html

#foto_historia{
    width: 100% !important;
    height: 600px !important;
    border-radius: 10px;
}

#foto_historia_calle{
    width: 100% !important;
    height: 300px !important;
    border-radius: 10px;
}

#foto_historia_colpatria{
    width: 100% !important;
    height: 600px !important;
    border-radius: 10px;
}
.container{
    display: flex;
    flex-direction: row;
    max-width: 800px !important;
    &-quienes{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        &-title{
            color: rgb(252, 252, 252);
        }
        &-historia{
            width: 800px;
            display: flex;
            flex-direction: row;
            &-foto{
                width: 400px !important;
            }
            &-parrafo{
                color: white;
                text-align: left;
                margin-top: 10px;
                width: 400px !important;
                height: 200px;
                padding: 20px;
            }
        }
        &-historia_dos{
            margin-top: 20px;
            width: 800px;
            display: flex;
            flex-direction: row;
            &-foto_dos{
                width: 400px !important;
            }
            &-parrafo{
                color: white;
                text-align: left;
                margin-top: 10px;
                width: 400px !important;
                height: 200px;
                padding: 20px;
            }
        }
        &-historia_tres{
            margin-top: 20px;
            width: 800px;
            display: flex;
            flex-direction: row;
            &-foto_tres{
                width: 400px !important;
            }
            &-parrafo{
                color: white;
                text-align: left;
                margin-top: 10px;
                width: 400px !important;
                height: 200px;
                padding: 20px;
            }
        }
    }
}
    
}