@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  background-color: rgb(243, 43, 43) !important;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
}

.containerRegister {
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerRegister-forms {
  width: 400px !important;
}
.containerRegister-forms-body {
  width: 400px !important;
}

/* Estilos generales */
h1, h2, h3 {
  font-weight: bold;
  color: white;
}

h1 {
  font-size: 24px;
  color: white;
}

h2 {
  font-size: 20px;
  color: white;
}

h3 {
  font-size: 18px;
  color: white;
}

p {
  margin-bottom: 10px;
  color: white;
}

ul {
  margin-bottom: 10px;
  color: white;
}

/* Estilos específicos para la política de privacidad */
.container {
  max-width: 800px;
  margin: 0 auto;
}

/* Estilos para hacer responsive */
@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}
footer {
  background-color: black;
  bottom: 0;
  width: 100%;
  position: fixed;
  text-align: center;
  font-size: 15px;
  color: white;
  margin-top: 10px !important;
}

.containerFormss {
  display: flex;
  flex-direction: column;
}
.containerFormss-info_entrega {
  display: none;
}
.containerFormss-form {
  margin-top: 200px;
}
.containerFormss-form-formLogin {
  background-color: rgb(90, 44, 44);
  border-radius: 10px;
}
.containerFormss-form-formLogin-forms {
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
.container-cont_accesorios {
  display: flex;
  flex-wrap: wrap;
}
.container-cont_accesorios-titulo {
  text-align: center;
  color: white;
}
.container-cont_accesorios-group-cards {
  margin-bottom: 10px;
}

@media screen and (max-width: 800px) and (min-width: 0px) {
  body {
    background-color: blue;
  }
  .containerFormss {
    display: flex;
    flex-direction: column;
  }
  .containerFormss-info_entrega {
    display: none;
  }
  .containerFormss-form {
    margin-top: 200px;
  }
  .containerFormss-form-formLogin {
    border-radius: 10px;
  }
  .containerFormss-form-formLogin-forms {
    border-radius: 10px;
    background-color: rgb(90, 44, 44);
  }
}
@media screen and (max-width: 1994px) and (min-width: 992px) {
  #fotos_accesorios {
    max-width: 400px;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 20px;
  }
  .container-cont_accesorios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important;
    align-items: center !important;
    max-width: 1300px;
  }
  .container-cont_accesorios-titulo {
    text-align: center;
    color: white;
  }
  .container-cont_accesorios-group {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .container-cont_accesorios-group-cards {
    margin-right: 11px;
    max-width: 400px;
  }
  .containerFormss-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .containerFormss-form-formLogin {
    width: 800px !important;
  }
  .containerFormss-form-formLogin-forms {
    width: 800px !important;
  }
}

/*# sourceMappingURL=estilosLogin.css.map */
